/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/prices
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/nbproject/private/
/public/css/*.*
/public/js/*.*
laravel-echo-server.json
laravel-echo-server.lock
/public/css/
/public/js/
