
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$fa-font-path: "../fonts/" !default;
@import '~font-awesome/scss/font-awesome';
@import '~admin-lte/dist/css/AdminLTE.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";